<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="balloon-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>

  <ion-toolbar *ngIf="isOrderOpen&&isDashboard">
    <div class="ion-margin-horizontal">
      <ion-select toggleIcon="filter-outline" label="Order By" interface="action-sheet" color="danger"
        aria-label="fruit" [(ngModel)]="selectedOrder" (ionChange)="handleOrderSelection($event)">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>

        <ion-button *ngIf="selectedOrder" size="small" (click)="clearOrder()" fill="clear" slot="end"
          aria-label="Show/hide password">
          <ion-icon slot="icon-only" name="close" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-select>
    </div>
  </ion-toolbar>

  <ion-toolbar *ngIf="isSearchOpen&&isDashboard">
    <ion-searchbar show-clear-button="focus" (ionChange)="handleSearch($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>