<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wish" href="/tabs/wish">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Wish List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" href="/tabs/cart">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>